@tailwind base;
@tailwind components;
@tailwind utilities;

.prose img {
  @apply rounded-lg w-full h-auto;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.animate-marquee {
  display: inline-block;
  animation: marquee 30s linear infinite;
}